$brand-font-family-sec: Helvetica, Arial;

/* HISTORY */
.date-caption {
	background:url(library/images/history/bg.png) repeat-x top center; 
	padding-top: 25px; 
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	border-radius: 7px;
}
#timeline {
	font-size: 14px; 
	color: #fff; 
	width: 100%;
	height: 700px; 
	overflow: hidden; 
	margin:auto auto; 
	position: relative; 
	background: url(library/images/history/dot.png) left 55px repeat-x;
	text-align:center;
}
.timelineImage {
	width:50%; 
	height:50%; 
	margin: 0 auto;
}
.historyCopy {
	float: left;
}
#dates {
	width:100%;
	height: 60px; 
	overflow: hidden;
	display:block;
}
#dates div {
	list-style:none;
	float:left;
	width: 100px;
	height: 60px;
	font-size: 17px;
	line-height: 18px;
	font-family: $brand-font-family-sec;
	text-transform: uppercase;
	text-align:center;
	background:url(library/images/history/biggerdot.png) center bottom no-repeat;
	z-index: 9;
	margin-bottom: 20px;
	padding: 0 10px;
}

#dates a {
	padding-bottom: 30px; 
	color: #FFF; 
	opacity: 0.7; 
	text-decoration: none; 
	text-shadow: 2px 2px 0 #000;
}
#dates .selected {
	font-size: 22px; 
	padding-bottom: 30px; 
	color: #F5D962; 
	opacity: 1;
}

#issues {
	height: auto; 
	overflow: hidden; 
	margin-top: 30px; 
}

#issues div {
	height: auto; 
	list-style: none; 
	float: left;
	text-align:center;
}
.historyEntry {
	text-align:center;
	display:inline;
	height:900px;
	margin:auto auto;
}
#issues div h2 {
	color: #F5D962;
	font-size: 3em;
	text-shadow: 2px 2px 0 #000;
	padding-bottom:20px;
	border-bottom: 2px solid #690C0F;
	text-align: center;
	margin: 0 auto;
	margin-bottom:20px;
	width: 80%;
}

#issues div p {
	text-align: center; 
	line-height:auto; 
	margin: 0 auto; 
	width: 80%; 
	font-size:16px;
}
#issues div.selected img {
	-webkit-transform:scale(1.1,1.1); 
	-moz-transform:scale(1.1,1.1); 
	-o-transform:scale(1.1,1.1); 
	-ms-transform:scale(1.1,1.1);
	 transform:scale(1.1,1.1);
}
#issues div img {
	height: 200px;
	margin-top: 10px;
	margin-bottom: 25px;
	background:transparent;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
/* IE 8 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
/* IE 6 & 7 */
	zoom:1;
	-webkit-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
	-webkit-transform:scale(0.6,0.6);
	-moz-transform:scale(0.6,0.6);
	-o-transform:scale(0.6,0.6);
	-ms-transform:scale(0.6,0.6);
	transform:scale(0.6,0.6);
	border:2px solid #897925;
}

#grad_left,#grad_right {
	width:80px; 
	height:100%; 
	position:absolute; 
	top:0; 
	background-size: 100%;
}

#grad_left {
	left:0; 
	background:url(library/images/history/grad_left1.png) repeat-y;
	background-size: 100%; 
}

#grad_right {
	right:0; 
	background:url(library/images/history/grad_right1.png) repeat-y;
	background-size: 100%;
}







@media only screen
and (max-width : 380px) {	
	#issues div img {width: 180px; height: 116px;}
	#dates {
		display:none;
	}
	#timeline {
		background:none;
		height:auto;
	}
	#issues {
		margin-top:0;
		width: 100%!important;
		div {
			img {
				width:80%!important;
			}
		}
	}

		
}

@media only screen
and (max-width : 320px) {

	#issues div img {width: 180px; height: 116px;}
	#dates {
		display:none;
	}
	#timeline {
		background:none;
		height:auto;
	}
	#issues {
		margin-top:0;
		width: 100%!important;
		div {
			img {
				width:80%!important;
			}
		}
	}

}





//// EXTRA HISTORY MEDIA QUERIES


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
   #dates {
		display:none;
	}
	#timeline {
		background:none;
		height:auto;
	}
	#issues {
		margin-top:0;
		width: 100%!important;
		div {
			img {
				width:80%!important;
			}
		}
	}
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    #dates {
		display:none;
	}
	#timeline {
		background:none;
		height:auto;
	}
	#issues {
		margin-top:0;
		width: 100%!important;
		div {
			img {
				width:80%!important;
			}
		}
	}

}

@media only screen and (min-device-width: 320px)  and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:landscape){
    #dates {
		display:none;
	}
	#timeline {
		background:none;
		height:auto;
	}
	#issues {
		margin-top:0;
		width: 100%!important;
		div {
			img {
				width:80%!important;
			}
		}
	}

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
    #dates {
		display:none;
	}
	#timeline {
		background:none;
		height:auto;
	}
	#issues {
		margin-top:0;
		width: 100%!important;
		div {
			img {
				width:80%!important;
			}
		}
	}
}

